@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
/* $fontcolor: #0C120C;
$subfontcolor: white;
$title-fontsize: calc(60px + 5.28vw);
$mobile-title-fontsize: calc(56px + 5.28vw);
$filler-fontsize: calc(0.5vw + 0.5vh + .5vmin);
$boldfontweight: 500;
$normalfontweight: 300;  */
